$font: "Rodin NTLG", sans-serif;
$primary-color: #ffffff;
$secondary-color-light: #dcdddd;
$secondary-color-dark: #a3a3a2;
$accent-color: #24bfeb;
$text-color: #2b2b2b;

@font-face {
  font-family: "Rodin NTLG";
  src: url("../assets/fonts/FOT-RodinNTLG\ Pro\ DB.otf");
}

.linethrough {
  text-decoration: line-through;
}
